
<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

<head>
    {% block head %}
    {% endblock %}
</head>

<body>
<div class="row">
    <div class="col-sm-1"> </div>

        <div class="col-sm-10">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                    <img src="https://s3-us-west-1.amazonaws.com/zippopics/Zippo-logo-flame.png" width="25px">
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'index' %}">Статистика</a></li>
                  <li class="active"><a href="{% url 'graph' %}">Графики</a></li>
                </ul>
              </div>
            </nav>
        </div>
    <div class="col-sm-1">
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">{% block content %}{% endblock %}</div>
      <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>