{% extends 'display_prices/base.html' %}

{% block title %}

 Визуализация сравнения цен на зажигалки Zippo в Минске
{%endblock  %}




{% block content %}
    <div>Наглядное сравнение цен в беларуских интернет магазинах на оригинальные бензиновые зажигалки <br>
    <b>Zippo</b>. Информация по ценам и наличию обновляется каждый день. <br>
    <small>Сравнение цен на зажигалки происходит автоматизированно поэтому возможны некоторые неточности</small></div>
<!-- zippo.by -->
   <h3>Сравнение цен на бензиновые зажигалки Зиппо в Минске в магазинах<br>
    knifeworks.by и zippo.by</h3>
<div>
<iframe width="1000" height="600" frameborder="0" scrolling="no" src="{{ embed.zippoby_embed }}"></iframe>
</div>



<!-- padarunki.by -->
    <h3>Сравнение цен на зажигалки Zippo в Минске в магазинах<br>
    knifeworks.by и padarunki.by</h3>
<div>
<iframe width="1000" height="600" frameborder="0" scrolling="no" src="{{ embed.padarunki_embed }}"></iframe>
</div>



{% endblock %}