{% extends "display_prices/base.html" %}
{% load humanize %}
{% block title %}Сравнение цен на зажигалки Zippo в Минске {% endblock %}

{% block content %}
<style>
th, td {
    border: 1px solid black;
    text-align: center;
}


table {
    border-spacing: 5px;
    border: 1px solid black;
}

</style>

<!-- Statistics table -->

<table class="table table-striped table-hover table-condensed">
<tr>
<th></th>
<th>Knifeworks</th>
<th>zippoBY</th>
<th>Padarunki</th>
<th>Atribut</th>
</tr>
<tbody>
<tr>
    <td>Всего зажигалок в наличии</td>
    <td>{{knifeworks_number_of_lighters_total}}</td>
    <td>{{zippoby_number_of_lighters_total}}</td>
    <td>{{padarunki_number_of_lighters_total}}</td>
    <td>{{atribut_number_of_lighters_total}}</td>
</tr>
<tr>
    <td>Из них дешевле чем knifeworks</td>
    <td></td>
    <td>{{ number_of_cheaper_lighters_on_zippoby}}</td>
    <td>{{ number_of_cheaper_lighters_on_padarunki}}</td>
    <td>{{ number_of_cheaper_lighters_on_atribut }}</td>
</tr>
<tr>
    <td>Медианная разница, рублей</td>
    <td></td>
    <td>{% if median_zippoby_absolute_diff > 0 %} + {% endif %}
        {{ median_zippoby_absolute_diff}}</td>
    <td>{% if median_padarunki_absolute_diff > 0 %} + {% endif %}
        {{ median_padarunki_absolute_diff|floatformat}}</td>
    <td>{% if median_atribut_absolute_diff > 0 %} + {% endif %}
        {{ median_atribut_absolute_diff|floatformat}}</td>


</tr>
<tr>
    <td>Медианная разница, %</td>
    <td></td>
    <td> {% if median_zippoby_percent_diff > 0 %} +{% endif %}
        {{ median_zippoby_percent_diff|floatformat}}
    </td>
    <td> {% if median_padarunki_percent_diff > 0 %} +{% endif %}
        {{ median_padarunki_percent_diff|floatformat}}
    </td>
    <td> {% if median_atribut_percent_diff > 0 %} +{% endif %}
        {{ median_atribut_percent_diff|floatformat}}
    </td>

</tr>
<tr>
    <td>Максимальная разница, рублей</td>
    <td></td>
    <td> {% if max_absolute_diff_zippoby > 0 %} +{% endif %}
        {{ max_absolute_diff_zippoby|floatformat}}
    </td>
    <td> {% if max_absolute_diff_padarunki > 0 %} +{% endif %}
        {{ max_absolute_diff_padarunki|floatformat}}
    </td>
    <td> {% if max_absolute_diff_atribut > 0 %} +{% endif %}
        {{ max_absolute_diff_atribut|floatformat}}
    </td>

</tr>
<tr>
    <td>Максимальная разница, %</td>
    <td></td>
    <td> {% if max_percent_diff_zippoby > 0 %} +{% endif %}
        {{ max_percent_diff_zippoby|floatformat}}
    </td>
    <td> {% if max_percent_diff_padarunki > 0 %} +{% endif %}
        {{ max_percent_diff_padarunki|floatformat}}
    </td>
    <td> {% if max_percent_diff_atribut > 0 %} +{% endif %}
        {{ max_percent_diff_atribut|floatformat}}
    </td>

</tr>

</tbody>

</table>


<table class="table table-striped table-hover table-condensed">

<thead>
    <tr>
        <th>Counter</th>
        <th>Picure</th>
        <th>Model</th>
        <th>KnifeworksBY</th>
        <th>ZippoBy</th>
        <th>Padarunki</th>
        <th>AtributBY</th>
</tr>
</thead>
{% for zippo in list_of_lighters %}
<tr {% if zippo.zippoby_price_difference < 0 or zippo.padarunki_price_difference < 0 %}
    class = "danger"
    {% endif %}>
<!-- picture -->
    <td style="vertical-align: middle">{{ forloop.counter }}</td>
    <td> <img src="{{ zippo.picture_url}}" height = "100" ></td>

<!-- Model Name -->
<!-- The link points to the site with the MINIMAL price -->
    <td style="vertical-align: middle">
        <a href ="{{zippo.url_knifeworks}}">
            {{ zippo.model_number}}<br> {{ zippo.model_name|truncatechars:35 }}
        </a>
    </td>

    <td style="vertical-align: middle">
        {{ zippo.knifeworks_price }}
    </td>


    <!-- ZippoBY column-->

    <td style="vertical-align: middle">
        {% if zippo.zippoby_price != 0 %}
           <a href="{{ zippo.url_zippoby }}"> {{ zippo.zippoby_price }} </a>
            {% if zippo.zippoby_price_difference != 0 %}
                {% if zippo.zippoby_price_difference > 0 %}

                        <span style="color: red;">
                            <br>+{{ zippo.zippoby_price_difference|floatformat }} %
                            <br>+{{ zippo.zippoby_absolute_price_difference|floatformat }} рублей
                        </span>
                {% endif %}
                {% if zippo.zippoby_price_difference < 0 %}
                    <span style="color: green">
                        <br>{{ zippo.zippoby_price_difference|floatformat }} %
                        <br>{{ zippo.zippoby_absolute_price_difference|floatformat }} рублей
                    </span>
                {% endif %}

            {% endif %}
        {% endif %}
    </td>



    <!-- Padarunki column -->

    <td style="vertical-align: middle">
        {% if zippo.padarunki_price != 0 %}
            <a href="{{ zippo.url_padarunki}}">{{ zippo.padarunki_price }}</a>
            {% if zippo.padarunki_price_difference != 0 %}
                {% if zippo.padarunki_price_difference > 0 %}
                    <span style="color: red;">
                       <br>+{{ zippo.padarunki_price_difference|floatformat }} %
                        <br>+{{ zippo.padarunki_absolute_price_difference|floatformat }} рублей
                    </span>
                {% endif %}
                {% if zippo.padarunki_price_difference < 0 %}
                    <span style="color: green;">
                        <br>{{ zippo.padarunki_price_difference|floatformat }} %
                        <br>{{ zippo.padarunki_absolute_price_difference|floatformat }} рублей
                    </span>
                {% endif %}

            {% endif %}
        {% endif %}
    </td>

<!-- AtributBY column -->
<td style= "vertical-align: middle">
    {% if  zippo.atributby != 0 %}
    <a href ="{{ zippo.url_atribute }}">
        {{ zippo.atributby|floatformat }}
    </a>
    {% if zippo.atribut_absolute_price_diff > 0 %}
        <span style="color: red;">
        <br> +{{ zippo.atribut_percent_price_diff|floatformat }} %
        <br> +{{ zippo.atribut_absolute_price_diff|floatformat }} рублей
        </span>
    {% endif %}

    {% if zippo.atribut_absolute_price_diff < 0 %}
        <span style="color: green;">
        <br> {{ zippo.atribut_percent_price_diff|floatformat }} %
        <br> {{ zippo.atribut_absolute_price_diff|floatformat }} рублей
        </span>
    {% endif %}

    {% endif %}
</td>


    <!-- if Knifeworks <= ZippoBy -->

</tr>
{% endfor %}
</table>
{% endblock %}