{% extends "display_prices/base.html" %}
{% load humanize %}
{% block title %}Сравнение цен на зажигалки Zippo в Минске {% endblock %}

{% block head %}
<style>
    .price_higher {
        color: red;
    }
    .price_lower {
        color: green;
    }
th, td {

    text-align: center;
}
.statistics{
    border: 1px solid black;

}

table {
    border-spacing: 5px;

}


</style>
{% endblock %}
{% block content %}
<div>Последнее обновление: <b>{{ datestamp }}</b></div>
<div>Сравнение цен на зажигалки Зиппо в крупнейших магазинах Минска. Вы сможете выбрать понравившуюся зажигалку по гарантированно минимальный цене
и сразу перейти магазин для ее покупки.</div>
<div>Отображается информация только по моделям которые одновеменно есть в наличии в нескольких магазинах: <br></div>

<table class="table table-striped table-hover table-condensed statistics">
<thead>
<tr>
    <td></td>
    <td><a href ="http://knifeworks.by/7-zazhigalki-zippo">knifeworks.by</a></td>
    <td><a href="http://www.shop.zippo.by/">zippo.by</a></td>
    <td><a href="http://www.padarunki.by/catalog/zippo">padarunki.by</a></td>
    <td><a href ="http://atribut.by/zazhigalki_kuritelnye_prinadlezhnosti/benzinovye_zazhigalki/?page_size=48&page_id=1">atribut.by</a></td>
</tr>
</thead>
<tr>
    <td>Всего в наличии: </td>
    <td><b>{{ total_inventory.knifeworksby }}</b></td>
    <td><b>{{ total_inventory.zippoby }}</b></td>
    <td><b>{{ total_inventory.padarunki }}</b></td>
    <td><b>{{ total_inventory.atributby }} <br>магазин не рабоатет</b></td>
</tr>
<tr>
    <td>Дешевле чем на knifeworks.by</td>
    <td></td>
    <td>
        <b>{{ total_inventory.cheaper_lighters_zippoby}}</b>
        (в среднем на <b>{{total_inventory.avg_cheaper_percent_zippoby|floatformat:1}} %</b>)
    </td>
    <td>
        <b>{{ total_inventory.cheaper_lighters_padarunki}}</b>
        (в среднем на <b>{{total_inventory.avg_cheaper_percent_padarunki|floatformat:1}} %</b>)
    </td>
    <td>
        <b>{{ total_inventory.cheaper_lighters_atributby}}</b>
        (в среднем на <b>{{total_inventory.avg_cheaper_percent_atributby|floatformat:1}} %</b>)
    </td>
</tr>

<tr>
    <td>Дороже чем на knifeworks.by</td>
    <td></td>
    <td><b>{{ total_inventory.more_expensive_lighters_zippoby}}</b>
        (в среднем на  <b>{{total_inventory.avg_more_expensive_percent_zippoby|floatformat:1}} %</b>)</td>

    <td><b>{{ total_inventory.more_expensive_lighters_padarunki}}</b>
        (в среднем на  <b>{{total_inventory.avg_more_expensive_percent_padarunki|floatformat:1}} %</b>)</td>

    <td><b>{{ total_inventory.more_expensive_lighters_atributby}}</b>
        (в среднем на  <b>{{total_inventory.avg_more_expensive_percent_atributby|floatformat:1}} %</b>)</td>
</tr>
</table>





<table class="table table-striped table-hover table-condensed">
<thead>
    <tr >
        <th></th>
        <th>Фото</th>
        <th>Модель</th>
        <th><a href ="http://knifeworks.by/7-zazhigalki-zippo">knifeworks.by</a></th>
        <th><a href="http://www.shop.zippo.by/">zippo.by</a></th>
        <th><a href="http://www.padarunki.by/catalog/zippo">padarunki.by</a></th>
        <th><a href ="http://atribut.by/zazhigalki_kuritelnye_prinadlezhnosti/benzinovye_zazhigalki/?page_size=48&page_id=1">atribut.by</a> <br>магазин не рабоатет</th>
</tr>
</thead>
{% for model, values in context.items %}
<tr>
    <td style="vertical-align: middle">{{ forloop.counter }}</td>
    <td style="vertical-align: middle"><img src ="{{ values.pic_url }}"  height = '100'></td>
    <td style="vertical-align: middle">{{ model }} <br> {{ values.description }}</td>
    <td style="vertical-align: middle"><a href ="{{ values.kw_lighter_url }} ">{{ values.knifeworksby_price }}</a></td>

    <td style="vertical-align: middle">
        {% if values.zippoby_price%}
            <a href ="{{ values.zippoby_url }} ">{{ values.zippoby_price }}</a><br>
            <span class ="{% if '+' in values.zippoby_price_absolute_difference %} price_higher {% else%} price_lower {% endif %}">
                {{ values.zippoby_price_absolute_difference }}<br>
                {{values.zippoby_price_percentage_difference}}%
            </span>
        {% endif %}
    </td>
    <td style="vertical-align: middle">
        {% if values.padarunki_price %}
            <a href = "{{ values.padarunki_url }}"> {{ values.padarunki_price }}</a><br>
            <span class ="{% if '+' in values.padarunki_price_absolute_difference %} price_higher {% else%} price_lower {% endif %}">
                {{values.padarunki_price_absolute_difference}}<br>
                {{ values.padarunki_price_percentage_difference}}%
            </span>
        {% endif %}
    </td>
    <td style="vertical-align: middle">

        {% if values.atributby_price%}

            <a href = "{{ values.atributby_url }}"> {{ values.atributby_price }}</a><br>
            <span class ="{% if '+' in values.atributby_price_absolute_difference %} price_higher {% else%} price_lower {% endif %}">
                {{values.atributby_price_absolute_difference}}<br>
                {{ values.atributby_price_percentage_difference}}%
            </span>
        {% endif %}

    </td>



</tr>
{% endfor %}

</table>
<div>Информация по ценам на зажигалки, их описания и фотографии получены автоматически. Неточности возможны и мы не можем нести за них ответсвенность.</div>

{% endblock %}